body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.active {
  color: green;
}

.form-container {
  width: 300px;
}

div.active{
  display: block;
}
dis.hide{
  display: none;
}
